@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap')

$font-stack: "Ubuntu Condensed",Arial,sans-serif
$font-stack-two: "Ubuntu Condensed",Arial,san-serif

$white: #FFFFFF
$black: #000000

$primary: #1C1E24
$secondary: #9EA3B4
$highlight: #517AF4

h1
    color: $primary
h2
    color: $primary
h3
    color: $primary
h4
    color: $primary