---
layout: default
---
<header class="header-main" style="background-image:url('{{site.baseurl}}/assets/img/background.jpg')">
    <div class="overlay-light"></div>
    {%  include nav.html %}
    <div class="home-title">
        <h1>{{site.title}}</h1>
        <h3>Junior Web Developer</h3>
    </div>

    <a href="#blurb" class="home-avatar"></a>
</header>

<!--About-->
<div class="who-is-she" id="blurb" >

    <h2 >About me</h2><br>
    <p style="color:black">Solution driven Junior Web Developer extremely motivated to constantly develop my skills in the IT industry. I would describe myself as a person who is driven by the passion in everything I settle to achieve. I am a very organized person, careful to details and team-oriented, with confidence in my abilities to come up with creative solutions, using all the effort needed for fulfill the project requirements. v
        I invite you to check up on my social media accounts and projects self-made for my personal portfolio.</p>
       <center><div class="logo"><img src="./assets/img/img1.jpg" alt=""></div></center>
        
</div>

<!--Projects-->
<h2 class="recent-projects">Recent Projects</h2>
<center><h6>with source code</h6></center>
<div class="recent-projects-content-wrap">
  <div class="project-wrap">
    <div class="project">
     <div class="project-img project-img-one"></div>
     <a href="https://github.com/saftamaria/musicPlayerCode/tree/main/Music%20Player" target="_blank" class="project-text">
       <h4>Music Player</h4>
       <p> Web application very useful for parties where you can connect all your music by one click.</p>
     </a>
    </div>
  </div>
  <div class="project-wrap project-wrap-reverse">
    <div class="project project-reverse">
     <div class="project-img project-img-two lb-js" data-path="auto"></div>
     <a href="https://github.com/saftamaria/Movie-Database" target="_blank" class="project-text">
       <h4>Movie database</h4>
       <p>A tool to help everyone who whats to have his own portfolio of favorite movies</p>
     </a>
    </div>
  </div>
  <div class="project-wrap">
    <div class="project">
     <div class="project-img project-img-three lb-js" data-type="image" data-path="{{ site.baseurl }}/assets/img/safestep-floors-recent-project-full.jpg"></div>
     <a href="https://github.com/saftamaria/tic-tac-toe-game" target="_blank" class="project-text">
       <h4>Tic-Tac-Toe Game</h4>
       <p>A game I worked on using JS to have a session of stress relief and enjoy a quick work pause</p>
     </a>
    </div>
  </div>
  <div class="project-wrap project-wrap-reverse">
    <div class="project project-reverse">
     <div class="project-img project-img-four lb-js" data-path="auto"></div>
     <a href="https://github.com/saftamaria/relaxYourself-app" target="_blank" class="project-text">
       <h4>Relax Yoursel App</h4>
       <p>A tool to help everyone to breathe and listen to a chill and nice music very useful for stressful days </p>
     </a>
    </div>
  </div>
</div>

{% include footer.html %}

