//Header

header.header-main
    position: relative
    z-index: 1
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%
    height: 500px
    backround-size: cover
    position: center center
    repeat: no-repeat

    .overlay-light
        position: absolute
        z-index: 2
        top: 0
        right: 0
        bottom: 0
        left: 0
        background: $white
        opacity: .7

    .home-title
        position: relative
        z-index: 3
        text-align: center
        padding-top: 50px 

    h1
        font-size: 3.125em
        font-weight: 500
        line-height: 1.2em
        padding: 0 20px 5px 20px
    h3
        font-size: 1.50em
        font-weight: 400
        line-height: 1.2em

a.home-avatar
    position: absolute
    z-index: 3
    height:100px
    width: 100px
    border-radius: 100%
    background: 
    image: url('../img/avatar.jpg')
    size: cover
    position: center center
    repeat: no-repeat
    
   
